.menu {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0 auto;
  width: 80%;

  &--list {
    li {
      display: flex;
      align-items: center;
      position: relative;
      .liner {
        width: 354px;
        height: 1px;
        background: rgb(93, 93, 105);
        background: linear-gradient(90deg, rgba(93, 93, 105, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(31, 39, 49, 1) 100%);

      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 350px;
      height: 65px;
      color: white;
      background: #1F2731;

    }

    .line {
      position: absolute;
      right: -10px;
      width: 50px;
      height: 2px;
      background: #FFFFFF;
    }

    button:hover {
      background: #77797e;
    }

    .active {
      background: #de080c;
      transition: .3s ease-in-out;

    }

  }

  &--content {
    margin: 0 0 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .card {
      background: #FFFFFF;
      &--text {
        display: flex;
        align-items: center;
        justify-content: space-between;
          margin: 0 10px;
        padding: 2px 0 1px 0;
        &__ice {
          h1 {
            font-family: 'Spartan', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #1F2731;
          }

          h4 {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.07em;
            color: #939393;
          }
        }
         p{
           font-family: 'Spartan',sans-serif;
           font-style: normal;
           font-weight: 600;
           font-size: 16px;
           color: #EF272C;

         }

      }
    }
  }


}
.modal{
    &__content {
      width: 640px;
      height: 238px;
    background:#1F2731;
      display: flex;
      &__column{
        display: flex;
        flex-direction: column;

        &__open{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 10px;
          padding: 2px 0 2px 0;
          &__name{
            h1 {
              font-family: 'Spartan', sans-serif;
              font-weight: 600;
              font-size: 16px;
              color: #e5e5e5;
            }

            h4 {
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 0.07em;
              color: #939393;
            }


          }
          p{
            font-family: 'Spartan',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #EF272C;

          }
        }
      }

    &__actions{

      &__price{
        padding: 10px 20px;
        &__cafe{
          width: 262px;
          h1{
            font-family: 'Spartan', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #ffffff;
            padding: 10px 0;
          }
          &__cherry{
            display: flex;
            justify-content: space-between;
            p{
              font-family: 'Spartan';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #939393;
              padding:  0 0 2px 0;
            }
          }
          &__cola{
            display: flex;
            justify-content: space-between;
            p{
              font-family: 'Spartan';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #939393;
              padding:  0 0 2px 0;
            }
          }
        }
      }
    }
  }
}